{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/herione17.jpg" alt="">
            </div>
            <div class="col-md-6">
                <main>
                    <p class="Welcome">Welcome to Hero Squad!</p>
                    <button type="button" name="button">Play Now</button>
                </main>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}