{{#block "header"}}
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hero Squad</title>
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
    <header>
        <h2>Hero Squad</h2>
        <ul>
            <li>Home</li>
            <li>See All Squads</li>
            <li>See All Heroes</li>

        </ul>
    </header>
{{/block}}
<!--main content-->
{{#block "content"}}

{{/block}}
{{#block "footer"}}
    </body>
    </html>
{{/block}}