{{#partial "content"}}
    <h1>Your Squad lives here!</h1>

    <p><a href="/hero-form">Add Heroes</a></p>


    {{#each squads}}
        <p>Squad Title: {{title}}
            <br>
            <a href="/squads/{{id}}">See Squad Details...</a>
        </p>
    {{/each}}


    {{#each heroes}}
        <div class="hero-item">

            <div class="hero-detail">
                <p>Name: {{name}}</p>
                <p>Super power: {{ power }}</p>
                <button><a href="/">Add Hero to Squad</a></button>
            </div>
        </div>
    {{/each}}
{{/partial}}
{{> layout.hbs}}